<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="dados">
    <meta name="author" content="">
    <meta name=”robots” content=”index,follow”>

    <title>Dados</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<body>
<br/>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_arquivo">Arquivo</label>
                    <input type="file" class="form-control-file" id="id_arquivo" name="arquivo" accept=".csv">
                </div>
                <button type="submit" name="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if filename %}
                <p> {{ filename }}</p>
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" name="sql1" class="btn btn-primary">SQL 1</button>
            </form>
            {% if result_sql_1 %}
                <table class="table table-hover table-bordered table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Data Distrato</th>
                        <th scope="col">Quantidade</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for r in result_sql_1 %}
                        <tr>
                            <td>
                                {% if r.data_distrato %}
                                    {{ r.data_distrato }}
                                {% endif %}
                            </td>
                            <td>{{ r.tot }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" name="sql2" class="btn btn-primary">SQL 2</button>
            </form>
            {% if result_sql_2 %}
                <table class="table table-hover table-bordered table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Contrato</th>
                        <th scope="col">Total Contrato</th>
                        <th scope="col">Total Pago</th>
                        <th scope="col">Total Amortizado</th>
                        <th scope="col">Saldo Devedor</th>
                        <th scope="col">Valor Inadiplência</th>
                        <th scope="col">Dias Inadiplência</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for r in result_sql_2 %}
                        <tr>
                            <td>{{ r.nro_titulo }}</td>
                            <td>{{ r.total_contrato|floatformat:2 }}</td>
                            <td>{{ r.total_pago|floatformat:2 }}</td>
                            <td>{{ r.total_pago_amortizado|floatformat:2 }}</td>
                            <td>{{ r.saldo_devedor|floatformat:2 }}</td>
                            <td>{{ r.valor_inad|floatformat:2 }}</td>
                            <td>{{ r.dias_inad }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
</body>

</html>
