<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="dados">
    <meta name="author" content="">
    <meta name=”robots” content=”index,follow”>

    <title>Dados</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<body>
<br/>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_arquivo">Arquivo</label>
                    <input type="file" class="form-control-file" id="id_arquivo" name="arquivo" accept=".csv">
                </div>
                <button type="submit" name="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if filename %}
                <p> {{ filename }}</p>
            {% endif %}
        </div>
    </div>

</div>
</body>

</html>
